* {
    box-sizing: border-box;
}

.App {
    margin-top: 3rem;
}

.App img {
    margin-bottom: 1.5rem;
}

.pokemonList {
    margin: 3rem;
    margin-top: 0;
    padding: 0 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem
}

.pokeTypes__container {
    margin: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem 3rem
}
